# DS 310 – Introduction to Data Science
# Final Project
### Part 1
In this project you will investigate the impact of a number of automobile engine factors on the vehicle’s mpg. The dataset auto-mpg.csv contains information for 398 different automobile models. Information regarding the number of cylinders, displacement, horsepower, weight, acceleration, model year, origin, and car name as well as mpg are contained in the file. 
Perform some initial analysis and create visualizations using Tableau Public (reference will be available in week 9).
Create some visual plots and charts describing the data and information it is trying to give out.
Using the first 300 samples in the auto-mpg.csv, run a simple linear regression and multiple linear regression to determine the relationship between mpg and appropriate independent variable/(s).  Report all the appropriate information regarding your regression.

Multiple R-squared
Adjusted R-squared
Complete Linear Regression equation
Maintain a log of above values for all models.
For the remaining 98 samples in the dataset, use your best linear model(s) to predict each automobile’s mpg and report how your predictions compare to the car’s actual reported mpg.  
Residual Plot
Histogram.

As a part of submission make sure to include:
 A report explaining the research. Make sure to include with in your report any addition, deletion or changes to the dataset with reasons.
Well commented  code
You can submit your code by compiling the report on RStudio. Directions to save complete code on word / PDF file is as below.
RStudio -> File -> Knit Document / Compile Report -> Save as Word / PDF.

### Part 2
In this project you will be analyzing data from a call center.. The dataset Call_Center.csv contains information for close to 33000 calls to a call center. Information included in this file includes: a timestamp, call-centers city, channel, city, customer name, reason, response time, sentiment, state, call duration in minutes,csat (customer satisfaction) score.
Do whatever analysis you would like on this data. Make sure that you analyze at least three ‘questions’. Additional points will be granted for interesting and realistic analysis.
Feel free to use anything that you learned in this class. 
As a part of submission make sure to include:
 A report explaining the research. Make sure to include with in your report any addition, deletion or changes to the dataset with reasons.
Well commented  code
You can submit your code by compiling the report on RStudio. Directions to save complete code on word / PDF file is as below.
RStudio -> File -> Knit Document / Compile Report -> Save as Word / PDF.

### Part 3
Load these projects onto your github and share the link with me.



